:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
/*Navigation section*/
.navbar{
    background-color: var(--second-bg-color);
}
#logo{
    color: var(--text-color);
    font-size: 2em;
    
}
.blue{
    color: #0074f8;
}
.nav-item .nav-link{
    color: var(--text-color);
    margin-left: 25px;
}
.nav-link:hover{
 font-size: 17px;
 font-weight: bold;
 color: var(--main-color);
 transition: 0.3s;
}
.btn0{
    height: 45px;
    width: 100px;
    outline: none;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--bg-color);
    transition: 0.7s;
}
.btn0:hover{
    height: 45px;
    width: 100px;
    background-color: var(--second-bg-color);
    color: var(--main-color);
    outline: none;
}
.btn1{
    height: 45px;
    width: 100px;
    background-color: transparent;
    color: var(--text-color);
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    transition: 0.7s;
}
.btn1:hover{
    height: 45px;
    width: 100px;
    outline: none;
    border: 2px solid var(--text-color);
    background-color: var(--second-bg-color);
    color: var(--main-color);
    font-size: 17px;
}
body{
    background: linear-gradient(rgba(14, 14, 14, 0.9),rgba(0, 0, 0, 0)), url(body.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*SignIn Container*/
.box-area{
    width: 930px;
}